<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Area de tenis Caballero</ion-title>
    <ion-buttons slot="end" *ngFor="let teniss of contenidoS" class="numero-carrito">
      <ion-icon name="cart-outline" routerLink="/carrito" ></ion-icon>
      <ion-badge color="miColor" class="numero-carrito">{{teniss.campo}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div class=" ion-padding">
    <ion-grid >
      <ion-row>
        <ion-col size="6" *ngFor="let teniss of contenido" class="ion-col">
          <ion-card (click)=" act = teniss; abrirModal()">
            <ion-img [src]="teniss.rutaImagen"></ion-img>
            <ion-card-content>
              <label><strong>{{teniss.nombre}}</strong></label> <br>
              <label>Precio: $ <strong>{{teniss.precio}}</strong> </label> <br>
              <label>colores: <strong>{{teniss.colores}}</strong></label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>

  <!--inicio del modal para mostrar mas detallado el producto -->

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" *ngIf="enableNewNota"  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start"  >
            <ion-button (click)="closeModal(); cambiar()" ><ion-icon name="backspace" ></ion-icon></ion-button>
          </ion-buttons>

          <ion-title >DETALLES DE PRODUCTO</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div>
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-slides>
            <ion-slide>
              <ion-card>
                <ion-img [src]="act.rutaImagen"></ion-img>
              </ion-card>

            </ion-slide>
          </ion-slides>

          <ion-card >
            <ion-card-content >
              <label>{{act.nombre}}</label> <br>
              <label>{{act.descripcion}}</label> <br>
              <label>{{act.precio}}</label>
            </ion-card-content>
          </ion-card>
        </div>

        <ion-button expand="block" class="ion-margin-top"  (click)="setOpen(true); seleccionarTalla();">{{tallaSelecion}}</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="agregarCarro()" >Agregar a carrito</ion-button>

        <!--modal para seleccionar la talla -->

        <ion-content class="ion-padding">
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Tallas disponibles</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false);cambiar()">cancelar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-list>
                  <ion-list-header>
                    <ion-label>Tallas disponibles</ion-label>
                  </ion-list-header>
                  <ion-item>
                    <ion-select [(ngModel)]="act.tallas">
                      <ion-select-option *ngFor="let talla of tallas" >
                        {{ talla }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
                <ion-button expand="full" (click)="seleccionarTalla(); setOpen(false)" >Guardar</ion-button>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-content>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>


