
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card *ngFor="let carrito of contenido" class="contenedor-tarjeta">
    <ion-img [src]="carrito.rutaImagen" class="imagen-grande" > </ion-img>
    <ion-card-content>
      <ion-label>Nombre: <strong>{{carrito.nombre}}</strong> <br>
        Descripcion:<strong>{{carrito.descripcion}}</strong><br>
        Precio: $<strong>{{carrito.precio}}</strong><br>
        Color:<strong>{{carrito.colores}}</strong> <br>
        talla:<strong>{{carrito.tallas}}</strong>

      </ion-label>
    </ion-card-content>
    <ion-buttons (click)="carro = carrito;deleteNota()">
      <ion-icon name="trash" style="width: 30px;   height: 30px; margin-right: 10px"></ion-icon>
    </ion-buttons>
  </ion-card>

    <ion-button expand="block" (click)="abrirModal()"> FINALIZAR COMPRA </ion-button>

  <!--inicio de modal para registrar informacion de entrega al cliente -->

<ion-modal trigger="open-modal"  (willDismiss)="onWillDismiss($event)" *ngIf="enableNewNota"  >
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start"  >
          <ion-button (click)="closeModal()" ><ion-icon name="backspace" ></ion-icon></ion-button>
        </ion-buttons>

        <ion-title >FINALIZAR COMPRA</ion-title>
        <ion-buttons slot="end">
          <ion-badge></ion-badge>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content >
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text"  name="nombre" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input type="text"  name="telefono" ></ion-input>
    </ion-item>
      <ion-item>
        <ion-label position="floating">Direccion de entrega</ion-label>
        <ion-input type="text" name="direccion" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Referencias</ion-label>
        <ion-input type="text"  name="referencias" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-list>
          <ion-item>
            <ion-select aria-label="Fruit" interface="popover" placeholder="Selecionar municipio">
              <ion-select-option value="apples">Santa Cruz Xoxocotlan</ion-select-option>
              <ion-select-option value="oranges">Centro</ion-select-option>
              <ion-select-option value="bananas">Cuilapan</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-list>
          <ion-item>
            <ion-select aria-label="Fruit" interface="popover" placeholder="Metodo de pago">
              <ion-select-option value="transferencia">Transferencia</ion-select-option>
              <ion-select-option value="Depositos">Deposito</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-content>
    <!--<ion-button (click)="recuperarDatos()">nuevo</ion-button> -->
      <ion-button expand="block" class="ion-margin-top" (click)="confirmarCarrito()"
      >FINALIZAR COMPRA</ion-button>

  </ng-template>
</ion-modal>

</ion-content>



