<ion-header [translucent]="true">

</ion-header>

<ion-content>
  <ion-toolbar>

  <img alt="imaUsuario" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-title src="#">Nombre perfil</ion-title>
    <div></div>
    <ion-button id="open-modal">+Agregar</ion-button>

  </ion-toolbar>


  <ion-toolbar>
    <ion-title>Datos</ion-title>

    <ion-list>
      <ion-list>
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input label="Nombre" placeholder="Nombre Completo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input label="Contraseña" type="password" value="Contraseña"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input label="Email" type="email" placeholder="email@domain.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Telefono</ion-label>
          <ion-input label="Telefono" type="tel" placeholder="888-888-8888"></ion-input>
        </ion-item>
      </ion-list>
    </ion-list>


  </ion-toolbar>
</ion-content>
