
<ion-content>
  <ion-toolbar>
<div class="imagen-container">
  <img alt="imaUsuario" src="assets/img/foto_perfil-removebg-preview.png" class="imagen-usuario"/>
</div>
  </ion-toolbar>

  <ion-toolbar>

    <ion-title><strong>DATOS</strong> </ion-title>

    <ion-list>
      <ion-list >
        <ion-item>
          <ion-label>Nombre: <strong>Angel Fernando Antonio Carlock</strong></ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Email: <strong>angelfernando@gmail.com</strong> </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Telefono: <strong>9511700350</strong></ion-label>
        </ion-item>

      </ion-list>
    </ion-list>


  </ion-toolbar>
</ion-content>
