<ion-content>
  <div *ngIf="!hasData()" style="text-align: center; opacity: 0.2;">
    <img src="assets/img/historial.png" style="height: 150px; width: 150px; margin-top: 150px">
    <h3>No hay ningun registro</h3>
  </div>
  <div *ngIf="data">
  <ion-card  *ngFor="let historial of contenido" >
  <ion-item (click)="carro = historial; mostrarActionSheet()">
    <ion-thumbnail slot="start">
      <ion-img [src]="historial.rutaImagen"> </ion-img>
    </ion-thumbnail>
    <ion-label class="tamaño-label">
      <strong>{{historial.nombre}} </strong> <br>
      {{historial.descripcion}} <br>
      talla:  {{historial.tallas}}<br>
    </ion-label >
    <ion-label class="pendientes">
      Finalizado
    </ion-label>
  </ion-item>
</ion-card>
  </div>

</ion-content>
