<ion-content>
  <ion-card  *ngFor="let historial of contenido" >
  <ion-item (click)="carro = historial; mostrarActionSheet()">
    <ion-thumbnail slot="start">
      <ion-img [src]="historial.rutaImagen"> </ion-img>
    </ion-thumbnail>
    <ion-label class="tamaño-label">
      <strong>{{historial.nombre}} </strong> <br>
      {{historial.descripcion}} <br>
      talla:  <br>
    </ion-label >
    <ion-label class="pendientes">
      Finalizado
    </ion-label>
  </ion-item>
</ion-card>


  <ion-fab class="my-fab" horizontal="end" >
    <ion-fab-button id="open-modal" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
