<ion-menu contentId="main-content" >
  <ion-header >
    <ion-toolbar color="miColor">
      <ion-title>ORGANIZADOR</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" >
      <ion-menu-toggle >
          <ion-item (click)="this.opcion = this.INICIO; cambiarInicio()"  [routerLink]="'tab1'" >
              <ion-label >INICIO</ion-label>
            <ion-icon slot="start" name="home-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION1; cambiarCalendario()" [routerLink]="'tab02'">
             <ion-label>COMPRAS</ion-label>
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION2; cambiarPendiente()" [routerLink]="'tab3'">
            <ion-label >MIS PEDIDOS</ion-label>
            <ion-icon slot="start" name="book-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION3; cambiarHorario()"   [routerLink]="'tab4'">
            <ion-label>HISTORIAL</ion-label>
            <ion-icon slot="start" name="stopwatch-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION4; cambiarPerfil()" [routerLink]="'tab5'">
            <ion-label>MI PERFIL</ion-label>
            <ion-icon slot="start" name="accessibility-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION5; cambiarConfiguracion()" [routerLink]="'tab6'">
            <ion-label>CONFIGURACION</ion-label>
            <ion-icon slot="start" name="construct-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION6; cambiarAcerca()" [routerLink]="'tab7'">
            <ion-label>ACERCA DE </ion-label>
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          </ion-item>
      </ion-menu-toggle>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content" >
  <ion-header >
    <ion-toolbar color="miColor">
      <ion-buttons slot="start" >
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>
      <ion-title >{{nombre}}</ion-title>
      <ion-icon name="search-outline" slot="end" id="buscador"></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >
    <app-tab1 *ngIf="this.opcion===this.INICIO"></app-tab1>
    <app-tab02 *ngIf="this.opcion===this.OPCION1"></app-tab02>
    <app-tab3 *ngIf="this.opcion===this.OPCION2"></app-tab3>
    <app-tab4 *ngIf="this.opcion===this.OPCION3"></app-tab4>
    <app-tab5 *ngIf="this.opcion===this.OPCION4"></app-tab5>
    <app-tab6 *ngIf="this.opcion===this.OPCION5"></app-tab6>
    <app-tab7 *ngIf="this.opcion===this.OPCION6"></app-tab7>
  </ion-content>
</div>


