<ion-menu contentId="main-content" >
  <ion-header >
    <ion-toolbar color="miColor">
      <ion-title>ORGANIZADOR</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" >
      <ion-menu-toggle >
          <ion-item (click)="this.opcion = this.INICIO " [routerLink]="'tab1'" >
              <ion-label >INICIO</ion-label>
            <ion-icon slot="start" name="home-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION1"  [routerLink]="'tab2'">
             <ion-label>CALENDARIO</ion-label>
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION2 " [routerLink]="'tab3'">
            <ion-label>AGENDA</ion-label>
            <ion-icon slot="start" name="book-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION3" [routerLink]="'tab4'">
            <ion-label>HORARIO</ion-label>
            <ion-icon slot="start" name="stopwatch-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION2 " [routerLink]="'tab3'">
            <ion-label>MI PERFIL</ion-label>
            <ion-icon slot="start" name="accessibility-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION2 " [routerLink]="'tab3'">
            <ion-label>CONFIGURACION</ion-label>
            <ion-icon slot="start" name="construct-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="this.opcion = this.OPCION2 " [routerLink]="'tab3'">
            <ion-label>ACERCA DE </ion-label>
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          </ion-item>
      </ion-menu-toggle>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content" >
  <ion-header >
    <ion-toolbar color="miColor1">
      <ion-buttons slot="start" >
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title >Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-tab1 *ngIf="this.opcion===this.INICIO"></app-tab1>
    <app-tab2 *ngIf="this.opcion===this.OPCION1"></app-tab2>
    <app-tab3 *ngIf="this.opcion===this.OPCION2"></app-tab3>
    <app-tab4 *ngIf="this.opcion===this.OPCION3"></app-tab4>
  </ion-content>
</div>

