

<ion-segment class="segment-fixed" [(ngModel)]="segmentValue">
  <ion-segment-button value="option1">
    <ion-label>HOMBRE </ion-label>
  </ion-segment-button>
  <ion-segment-button value="option2">
    <ion-label>MUJER</ion-label>
  </ion-segment-button>
  <ion-segment-button value="option3">
    <ion-label>NIÑO</ion-label>
  </ion-segment-button>
  <ion-segment-button value="option4">
    <ion-label>NIÑA</ion-label>
  </ion-segment-button>

</ion-segment>

<!--comienza el primer segmento -->

<div *ngIf="segmentValue === 'option1'">
  <div class="espacio"></div>

  <div class="categories">
    <h2>Caballero</h2>
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/portadas/hombre2.jpg" />
    </ion-card>
  </div>
  <ion-col size="6" size-md="4" size-lg="3" *ngFor="let categoria of modelos">
    <ion-card routerLink="{{categoria.link}}" >
      <ion-card-header>
        <ion-card-title>{{categoria.nombre}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>

  <!--comienzo de recomendado  -->

  <div>
    <ion-card-header>
      <ion-card-title>recomendado para ti</ion-card-title>
    </ion-card-header>
    <ion-slides pager="true" autoplay="true" speed="1000">
      <ion-slide>
        <img src="assets/img/tenis/tenis5.png">
        <div class="descripcion">
          <h1>Tenis nike </h1>
          <h1>precio: $ 2800</h1>
        </div>
      </ion-slide>
      <ion-slide>
        <img src="assets/img/tenis/tenis5.png"> <br>
        <div class="descripcion">
          <h1>Tenis nike </h1>
          <h1>precio: $ 2800</h1>
        </div>
      </ion-slide>
      <ion-slide>
        <img src="assets/img/tenis/tenis5.png">
        <div class="descripcion">
          <h1>Tenis nike </h1>
          <h1>precio: $ 2800</h1>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-col size="6" size-md="4" size-lg="3" >
    <ion-card routerLink="/productos/" >
      <ion-card-header>
        <ion-card-title>Nuevas comopras</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col>
</div>

<!-- *******************comienza el segundo segmento  ***************************-->
<div *ngIf="segmentValue === 'option2'">
  <div class="espacio"></div>

  <div class="categories">
    <h2>Dama</h2>
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/portadas/dama2.jpg" />
    </ion-card>
  </div>

  <ion-col size="6" size-md="4" size-lg="3" *ngFor="let categoriaD of modelosD">
    <ion-card routerLink="{{categoriaD.link}}" >
      <ion-card-header>
        <ion-card-title>{{categoriaD.nombre}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>

<div>
  <ion-card-header>
    <ion-card-title>recomendado para ti</ion-card-title>
  </ion-card-header>
  <ion-slides pager="true" autoplay="true" speed="1000">
    <ion-slide>
      <img src="assets/img/tenis/tenis5.png">
      <div class="descripcion">
        <h1>Tenis nike </h1>
        <h1>precio: $ 2800</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/tenis/tenis5.png"> <br>
      <div class="descripcion">
        <h1>Tenis nike </h1>
        <h1>precio: $ 2800</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/tenis/tenis5.png">
      <div class="descripcion">
        <h1>Tenis nike </h1>
        <h1>precio: $ 2800</h1>
      </div>
    </ion-slide>
  </ion-slides>
</div>
</div>


<!-- **********/*********comienza el tercer segmento /**********************************-->
<div *ngIf="segmentValue === 'option3'">
  <div class="espacio"></div>
  <div class="categories">
    <h2>Niño</h2>
    <ion-card>
      <img alt="Silhouette of mountains" src="../../assets/img/portadas/niño.jpg" />
    </ion-card>
  </div>

  <ion-col size="6" size-md="4" size-lg="3" *ngFor="let categoriaB of modelosB">
    <ion-card routerLink="{{categoriaB.link}}"  >
      <ion-card-header>
        <ion-card-title>{{categoriaB.nombre}}</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col>

  <ion-card-header>
    <ion-card-title>recomendado para ti</ion-card-title>
  </ion-card-header>
  <ion-slides pager="true" autoplay="true" speed="1000">
    <ion-slide>
      <img src="assets/img/tenis/tenis5.png">
      <div class="descripcion">
        <h1>Tenis nike </h1>
        <h1>precio: $ 2800</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/tenis/tenis5.png"> <br>
      <div class="descripcion">
        <h1>Tenis nike </h1>
        <h1>precio: $ 2800</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/tenis/tenis5.png">
      <div class="descripcion">
        <h1>Tenis nike </h1>
        <h1>precio: $ 2800</h1>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-col size="6" size-md="4" size-lg="3" >
    <ion-card routerLink="/productos/" >
      <ion-card-header>
        <ion-card-title>Nuevas comopras</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col>
</div>

<!--comienza el cuarto segmento -->

<div *ngIf="segmentValue === 'option4'">
  <div class="espacio"></div>
  <div class="categories">
    <h2>Niña</h2>
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/img/Dama.jpg" />
    </ion-card>
  </div>

  <ion-col size="6" size-md="4" size-lg="3" *ngFor="let categoriaG of modelosG">
    <ion-card routerLink="{{categoriaG.link}}" >
      <ion-card-header>
        <ion-card-title>{{categoriaG.nombre}}</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col>

  <ion-card-header>
    <ion-card-title>recomendado para ti</ion-card-title>
  </ion-card-header>
  <ion-slides pager="true" autoplay="true" speed="1000">
    <ion-slide>
      <img src="assets/img/tenis/tenis5.png">
      <div class="descripcion">
        <h1>Tenis nike </h1>
        <h1>precio: $ 2800</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/tenis/tenis5.png"> <br>
      <div class="descripcion">
        <h1>Tenis nike </h1>
        <h1>precio: $ 2800</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/tenis/tenis5.png">
      <div class="descripcion">
        <h1>Tenis nike </h1>
        <h1>precio: $ 2800</h1>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-col size="6" size-md="4" size-lg="3" >
    <ion-card routerLink="/productos/" >
      <ion-card-header>
        <ion-card-title>Nuevas comopras</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col>
</div>



