ion-card {
  background-color: #c3e5c7;
}


ion-card-content{
  color: black;
}
.my-fab {
  position: fixed;
  top:700px;
}

.my-card {
  margin-left: 0px; /* Ajusta el margen izquierdo según tu necesidad */
  margin-right: 0px; /* Ajusta el margen derecho según tu necesidad */
}

.my-list {
  margin-left: 0px; /* Ajusta el margen izquierdo según tu necesidad */
  margin-right: 0px; /* Ajusta el margen derecho según tu necesidad */
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
