<ion-header>
   <!-- <ion-label> {{ fechaActual | date: 'dd/MM/yyyy' }}</ion-label> -->
  <h3>Medina Tenis</h3>
</ion-header>

<ion-content>
  <div class="hero">
    <!-- <img src="assets/img/logo_zapateria.png" alt="Zapatería XYZ" style="max-width: 100px; max-height: 100px;"> -->
    <h4>Encuentra los zapatos que necesitas</h4>
    <p>Contamos con una amplia variedad de zapatos de la mejor calidad para ti</p>
    <!-- <ion-button routerLink="/productos">Ver productos</ion-button> -->
  </div>

  <img alt="Silhouette of mountains" src="/assets/img/logoEmpresa.png" />
  <div>
    <ion-card-header>
      <ion-card-title>Selecciones destacadas para ti</ion-card-title>
    </ion-card-header>
  <ion-slides  >
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col (click)="abrirModal()" class="ion-col">
            <img src="assets/img/tenis/tenis5.png">
            <p>tenis nike </p>
            <p>Precio: $3000</p>

          </ion-col>
          <ion-col class="ion-col">
            <img src="assets/img/tenis/tenis5.png">
            <p>tenis nike </p>
            <p>Precio: $3000</p>
          </ion-col>
          <ion-col class="ion-col">
            <img src="assets/img/tenis/tenis5.png">
            <p>tenis nike </p>
            <p>Precio: $3000</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-col">
            <img src="assets/img/tenis/tenis5.png">
            <p>tenis nike </p>
            <p>Precio: $3000</p>
          </ion-col>
          <ion-col class="ion-col">
            <img src="assets/img/tenis/tenis5.png">
            <p>tenis nike </p>
            <p>Precio: $3000</p>
          </ion-col>
          <ion-col class="ion-col">
            <img src="assets/img/tenis/tenis5.png">
            <p>tenis nike </p>
            <p>Precio: $3000</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  </div>

  <div>
    <ion-card-header>
      <ion-card-title>Novedades de medina tenis</ion-card-title>
    </ion-card-header>
    <img src="assets/img/nuevo.jpg">

  </div>

  <ion-col size="6" size-md="4" size-lg="3" *ngFor="let categoria of models">
    <ion-card routerLink="/productos/" >
      <ion-card-header>
        <ion-card-title>{{categoria.nombre}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>


<ion-fab class="my-fab" horizontal="end">
  <ion-fab-button id="open-modal" >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>



