
ion-button#guardar {
  background-color: #2dd36f;
}

.my-fab {
  position: fixed;
  top:600px;

}

.fondo {
  position: fixed;
  top:60px;
}

.my-card {
  margin: 0;
  padding: 0;
}

.my-list {
  margin-left: 0px; /* Ajusta el margen izquierdo según tu necesidad */
  margin-right: 0px; /* Ajusta el margen derecho según tu necesidad */
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

code {
  white-space: pre-wrap;
}

/* Tu archivo de estilos CSS existente */

/* Clase CSS personalizada para el icono del menú */
.icono-menu {
  font-size: 24px; /* Tamaño de fuente del icono */
  color: red; /* Color del icono */
  margin-right: 5px; /* Margen derecho del icono */
}

.descripcion {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: var(black);
  color: var(--ion-color-dark);
  padding: 20px;
  text-align: left;
  font-size: 1.2rem;
  z-index: 1;
  margin-left: 30px;
}
h1 {
  font-size: 10pt;
  padding: 0;
  margin: 0;
}
p{
  font-size: 12px;
  margin: 0;
  text-align: left;
}

.ion-col {
background-color: #3b6e4f;
  margin: 1px;
}


ion-slide {
  height: auto;
  padding-bottom: 40px; /* Ajusta la altura de la descripción */
}
.custom-slides {
  width: 30%; /* Establece el ancho del ion-slide */
}



