

<ion-fab class="fondo" horizontal="end" >
  <ion-icon name="moon" ></ion-icon>
  <ion-toggle [ngModel]="darkMode"
              (ionChange)="cambio()" ></ion-toggle>
</ion-fab>
<ion-card-header>
      <img alt="Silhouette of mountains" src="/assets/img/logo_itvo_1.png" />
    </ion-card-header>

<!-- agregar-->
  <!--cartas de las actividades de la semana -->
  <ion-card class="my-card">
    <ion-card-header>
      <ion-card-title>ACTIVIDADES DEL DIA DE HOY </ion-card-title>
    </ion-card-header>
    <app-formulario></app-formulario>

    <!--boton para agregar nueva nota -->
  </ion-card>

  <ion-card class="my-card" >
    <ion-card-header>
      <ion-card-header>
        <ion-card-title>ACTIVIDADES DE MAÑANA</ion-card-title>
        <ion-card-subtitle>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card class="my-card">
    <ion-card-header>
      <ion-card-header>
        <ion-card-title>LUNES</ion-card-title>
        <ion-card-subtitle>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card class="my-card" >
    <ion-card-header>
      <ion-card-header>
        <ion-card-title>MARTES</ion-card-title>
        <ion-card-subtitle>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card class="my-card" >
    <ion-card-header>
      <ion-card-header>
        <ion-card-title>MIERCOLES</ion-card-title>
        <ion-card-subtitle>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card class="my-card" >
    <ion-card-header>
      <ion-card-header>
        <ion-card-title>JUEVES</ion-card-title>
        <ion-card-subtitle>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card class="my-card" >
    <ion-card-header>
      <ion-card-header>
        <ion-card-title>VIERNES</ion-card-title>
        <ion-card-subtitle>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card-header>
  </ion-card>

<ion-fab class="my-fab" horizontal="end">
  <ion-fab-button id="open-modal" >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>



