
<ion-content >
  <ion-card *ngFor="let pendientes of contenido">
    <ion-item >
      <ion-thumbnail slot="start" (click)=" carro = pendientes; abrirModal()">
        <ion-img [src]="pendientes.rutaImagen"> </ion-img>
      </ion-thumbnail>
      <ion-label class="tamaño-label">
        <strong>{{pendientes.nombre}} </strong> <br>
        {{pendientes.descripcion}} <br>
        talla:  <br>
      </ion-label >
      <ion-label class="pendientes">
        pendiente
      </ion-label>
      <ion-item (click)="carro = pendientes; mostrarActionSheet()">
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="ellipsis-vertical-outline" ></ion-icon>

          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item>


  </ion-card>

  <!--inicio de modal para registrar informacion de entrega al cliente -->

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" *ngIf="enableNewNota"  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start"  >
            <ion-button (click)="closeModal()" ><ion-icon name="backspace" ></ion-icon></ion-button>
          </ion-buttons>

          <ion-title >DETALLES DE PRODUCTO</ion-title>

        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div  >
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-slides>
            <ion-slide>
              <ion-card>
                <ion-img [src]="carro.rutaImagen"></ion-img>
              </ion-card>

            </ion-slide>
          </ion-slides>

          <ion-card >
            <ion-card-content >
              <ion-label><strong>{{carro.nombre}}</strong> <br>
              <strong>{{carro.descripcion}}</strong><br>
              color:<strong>{{carro.colores}}</strong> <br>
              precio: $<strong>{{carro.precio}}</strong>
              </ion-label> <br>
              <ion-label class="pendientes">
                pendiente
              </ion-label>

            </ion-card-content>
          </ion-card>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>





