
<ion-segment class="segment-fixed" [(ngModel)]="segmentValue">
  <ion-segment-button value="option1">
    <ion-label>TODO </ion-label>
  </ion-segment-button>
  <ion-segment-button value="option2">
    <ion-label>ARCHIVADOS</ion-label>
  </ion-segment-button>

</ion-segment>

<!-- Contenido que se mostrará dependiendo de la opción seleccionada en el segmento-->
<div *ngIf="segmentValue === 'option1'">
  <div class="espacio"></div>
    <app-formulario></app-formulario>
</div>
<div *ngIf="segmentValue === 'option2'">
  <div class="espacio"></div>
  <p>Contenido de la opción 2</p>
</div>
<div *ngIf="segmentValue === 'option3'">
  <p>Contenido de la opción 3</p>
</div>



<ion-fab class="my-fab" horizontal="end">
  <ion-fab-button id="open-modal" >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>





