
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sandalias y chanclas Caballero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-grid >
      <ion-row>
        <ion-col size="5" *ngFor="let sandalias of contenidoS" class="ion-col">
          <ion-card routerLink="/contenido" >
            <ion-img [src]="sandalias.rutaImagen"></ion-img>
            <ion-card-content>
              <p>{{sandalias.nombre}}</p>
              <p>Precio: {{sandalias.precio}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>




