<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Zapatos para niña</ion-title>
    <ion-buttons slot="end"  *ngFor="let contenido of contenidoS" style="margin-right: 20px">
      <ion-icon name="cart-outline" routerLink="/carrito" style="height: 25px; width: 25px"></ion-icon>
      <ion-badge color="miColor" class="numero-carrito" style="font-size: 12pt">{{contenido.campo}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="6" size-md="6" size-lg="6" *ngFor="let teniss of contenido" class="ion-col" >
          <ion-card (click)=" act = teniss; abrirModal()" class="custom-card" >
            <div class="offer-card">
              <ion-img [src]="teniss.rutaImagen"  class="imagen-center" ></ion-img>
              <ion-card-content>
                <label><strong>{{teniss.nombre}}</strong></label> <br>
                <label>colores: <strong>{{teniss.colores}}</strong></label><br>
                <label>marca: <strong>nike</strong></label> <br><br>
                <label>Precio: $ <strong>{{teniss.precio}}</strong> </label> <br>
              </ion-card-content>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--inicio del modal para mostrar mas detallado el producto -->

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" *ngIf="enableNewNota"  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start"  >
            <ion-button (click)="closeModal(); cambiar()" ><ion-icon name="backspace" ></ion-icon></ion-button>
          </ion-buttons>

          <ion-title >DETALLES DE PRODUCTO</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div>
          <div>
            <ion-slides>
              <ion-slide>
                <ion-card>
                  <ion-img [src]="act.rutaImagen" ></ion-img>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </div>
          <div >
            <ion-card >
              <ion-card-content >
                <label><strong>{{act.nombre}}</strong></label> <br>
                <label><strong>{{act.descripcion}}</strong></label> <br>
                <label>Precio: $ <strong>{{act.precio}}</strong> </label> <br>
                <label>color: <strong>{{act.colores}}</strong></label>
              </ion-card-content>
            </ion-card>
          </div>
        </div>

        <ion-button expand="block" class="ion-margin-top"  (click)="setOpen(true); seleccionarTalla();">{{tallaSelecion}}</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="agregarCarro()" >Agregar a carrito</ion-button>

        <!--modal para seleccionar la talla -->

        <ion-content class="ion-padding">
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Tallas disponibles</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false);cambiar()">cancelar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-list style="text-align: center">
                  <ion-list>
                    <ion-item>
                      <ion-select aria-label="Fruit" placeholder="Seleccionar talla"
                                  [(ngModel)]="act.tallas" aria-expanded="true">
                        <ion-select-option *ngFor="let talla of tallas" >{{ talla }}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
                </ion-list>
                <ion-button expand="full" (click)="seleccionarTalla(); setOpen(false)" >Guardar</ion-button>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-content>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>


