<ion-header>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-title>Notificaciones</ion-title>
      <ion-select aria-label="Notificaciones" placeholder="Notificaciones">
        <ion-select-option value="activar">Activar</ion-select-option>
        <ion-select-option value="desactivar">Desactivar</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-title>Vibracion</ion-title>
      <ion-select aria-label="vibracion" placeholder="Vibracion">
        <ion-select-option value="activar">Activar</ion-select-option>
        <ion-select-option value="desactivar">Desactivar</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-title>Modo Oscuro</ion-title>
      <ion-select aria-label="ModoOscuro" placeholder="ModoOscuro">
        <ion-select-option value="activar">Activar</ion-select-option>
        <ion-select-option value="desactivar">Desactivar</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
